




.cuerpo-inicio{
    background-color: rgb(59, 40, 57);
    header{
        
        margin-top: 0.5rem;
        margin-bottom: 2.1rem;
        margin-left: 3rem;
        margin-right: 3rem;

    }
}




   

.main-inicio{
    background-color: black;


.hero{
    min-height: 100vh;
    position: relative;
    h1{
    background-color: rgba(128, 0, 128, 0.751);
}
    p{
    background-color: rgba(0, 0, 0, 0.758);
    font-size: x-large;
}
    .advertisment{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1rem; 

  
}
.fondo-animado{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 57, 57, 0.6);
    mix-blend-mode: overlay;
    
}




}
.separador{
    background-color: white;
    display: flex;
    width: 100%;
    min-height: fit-content;
    
    justify-content: space-around;
    padding: 1rem; 
    p{
    font-size: x-large;
    font-family: cursive;
    padding: 0.2rem;
}
    .tabla{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 0.2rem solid #5a2155;
    border-top: 0.2rem solid #5a2155;
    border-right: 0.7rem  solid #5a2155;
    border-bottom: 0.5rem solid #5a2155;
}
.buzo-nuevo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 0.2rem solid #5a2155;
    border-top: 0.2rem solid #5a2155;
    border-right: 0.7rem  solid #5a2155;
    border-bottom: 0.5rem solid #5a2155;

}
}
.contenedor-inicio{
    display: flex;
    padding: 1rem;
    border-top: 0.2rem double purple;
    gap: 1rem;
    
    .noticias{
    
    height: fit-content;
    width: 55%;
    
    background-color: rgb(0, 0, 0);
    background-size: cover;
    border-color: blueviolet;
    border-style: inset;
    position: relative;
    z-index: 2;


    .noticia-victoria{
    padding: 5px;
    border-style: outset;
    border-color: antiquewhite;
    border-width: 3px;
    .contenedor-imagen-texto{
    position: relative;
    display: inline-block;
    text-align: center;
    .imagen-formacion{
        display: flex;
        align-items: center;
    }
    .texto-encima{
    
        font-size: xx-large;
        background-color: rgba(0, 0, 0, 0.652);
        color: aliceblue;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
}
.noticia-fixture{
    padding: 5px;
    border-style: outset;
    border-color: antiquewhite;
    border-width: 3px;
    .contenedor-imagen-texto{
        position: relative;
        display: inline-block;
        text-align: center;
        .imagen-formacion{
            display: flex;
            align-items: center;
        }
        .texto-encima{
        
            font-size: xx-large;
            background-color: rgba(0, 0, 0, 0.652);
            color: aliceblue;
            position: absolute;
            top: 90%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

}
}
    
}






}}








 

























#titulo-noticias{
    padding-left: 10px;
    font-family: 'Comfortaa', cursive;
    color: aliceblue;
}


#descripcion-noticia{
    
    padding: 10px;
    padding-bottom: 7px;
    color: aliceblue;
    font-size: larger;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}












.borde-derecho{
    
    flex-direction: column;
    background-color: black;
    display: flex;
    height: fit-content;
    border-color: blueviolet;
    border-style: inset;
    
    
    
    background-color: rgb(0, 0, 0);
    background-size: cover;
    border-color: blueviolet;
    border-style: inset;
    position: relative;
    z-index: 2;
    
    
    
    
    
    
    


}

.borde-derecho p{
    color: aliceblue;
    font-size:x-large;
    font-family: 'Comfortaa', cursive;
    font-family: 'Croissant One', cursive;
   
}


#icono-hashtag{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.iconos{
    font-size: xx-large;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    
    

}
.iconos a{
    color: #6e1164;
}

#cancion-cancha{
    color: aliceblue;
    font-size: large;
    padding: 15px;
    
}

.mapa-frase{
    padding: 5px;
    border-style: double;
    border-color: blueviolet;
}








.footer{

    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(242, 175, 248);
    border-style: double;
    
}

.footer p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.footer h2{
    font-family: 'Yellowtail', cursive;
}


.focus-in-contract-bck{animation:focus-in-contract-bck 2s cubic-bezier(.25,.46,.45,.94) both}

@keyframes focus-in-contract-bck{0%{letter-spacing:1em;transform:translateZ(300px);filter:blur(12px);opacity:0}100%{transform:translateZ(12px);filter:blur(0);opacity:1}}



