


@media (max-width: 700px) {
    .cuerpo-tienda {
      margin-left: 0;
      display: flex;
      flex-direction: column;
      section {
      flex-grow: 1;
    }
    }
    
    .productos {
      flex-direction: column;
    }
    .footer{
        .h2 {
      font-size: medium;
    }.p {
      font-size: small;
    }

    }
    
    
    .cuerpo-historia {
      margin-left: 0;
      display: flex;
      flex-direction: column;

      .contenedor-tarjetas {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      flex-direction: column;
    }
    .jugadores {
       width: 100vh;
    }
    .contenedor-planteles {
      flex-direction: column;
    }


    }
    
    
    
  }