nav{
    .nav-item a{
        color: #8a067d;
        font-size: larger;
        font-family: 'Comfortaa', sans-serif;
        font-weight: 1000;

        &:hover{
            color: rgb(241, 163, 236);
        text-decoration: underline;

        }
    
    
    }
}