@charset "UTF-8";
/*poner animaciones también y animaciones*/
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Croissant+One&family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Croissant+One&family=Montserrat:wght@500&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

nav .nav-item a {
  color: #8a067d;
  font-size: larger;
  font-family: "Comfortaa", sans-serif;
  font-weight: 1000;
}
nav .nav-item a:hover {
  color: rgb(241, 163, 236);
  text-decoration: underline;
}

.cuerpo-inicio {
  margin: 0.5rem;
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 1fr 1fr 0.1fr;
  grid-template-rows: 0.1fr 0.1fr 1fr 1fr 0.1fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
  background-color: rgb(59, 40, 57);
  margin-left: 3rem;
  grid-template-areas: "encabezado encabezado encabezado encabezado" "frase frase frase frase" "contenido contenido contenido contenido" "contenido contenido contenido contenido" "footer footer footer footer";
}
.cuerpo-inicio .encabezado {
  grid-area: encabezado;
  background-color: black;
}
.cuerpo-inicio .frase {
  background-color: rgb(242, 175, 248);
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: small;
  font-family: "Comfortaa", cursive;
  box-shadow: 16px 14px 20px rgba(0, 0, 0, 0.5490196078);
  grid-area: frase;
  padding: 0.5rem;
}
.cuerpo-inicio .contenido {
  grid-area: contenido;
  background-color: #6e1164;
  border-style: double;
  display: flex;
  border-color: rgba(255, 255, 255, 0.603);
  /*corchete de noticias */
}
.cuerpo-inicio .contenido .noticias {
  float: left;
  height: -moz-fit-content;
  height: fit-content;
  width: 55%;
  margin: 20px;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  border-color: blueviolet;
  border-style: inset;
  /*corchete de noticia victoria */
  /*noticia fixture*/
}
.cuerpo-inicio .contenido .noticias .noticia-victoria {
  padding: 5px;
  border-style: outset;
  border-color: antiquewhite;
  border-width: 3px;
}
.cuerpo-inicio .contenido .noticias .noticia-victoria #titulo-noticias {
  padding-left: 10px;
  font-family: "Comfortaa", cursive;
  color: aliceblue;
}
.cuerpo-inicio .contenido .noticias .noticia-victoria #descripcion-noticia {
  padding: 10px;
  padding-bottom: 7px;
  color: aliceblue;
  font-size: larger;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.cuerpo-inicio .contenido .noticias .noticia-victoria .contenedor-imagen-texto {
  position: relative;
  display: inline-block;
  text-align: center;
}
.cuerpo-inicio .contenido .noticias .noticia-victoria .contenedor-imagen-texto .imagen-formacion {
  display: flex;
  align-items: center;
}
.cuerpo-inicio .contenido .noticias .noticia-victoria .texto-encima {
  font-size: xx-large;
  background-color: rgba(0, 0, 0, 0.652);
  color: aliceblue;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cuerpo-inicio .contenido .noticias .noticia-fixture {
  padding: 5px;
  border-style: outset;
  border-color: antiquewhite;
  border-width: 3px;
}
.cuerpo-inicio .contenido .noticias .noticia-fixture .contenedor-imagen-texto {
  position: relative;
  display: inline-block;
  text-align: center;
}
.cuerpo-inicio .contenido .noticias .noticia-fixture .contenedor-imagen-texto .imagen-formacion {
  display: flex;
  align-items: center;
}
.cuerpo-inicio .contenido .noticias .noticia-fixture #titulo-noticias {
  padding-left: 10px;
  font-family: "Comfortaa", cursive;
  color: aliceblue;
}
.cuerpo-inicio .contenido .noticias .noticia-fixture #descripcion-noticia {
  padding: 10px;
  padding-bottom: 7px;
  color: aliceblue;
  font-size: larger;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.cuerpo-inicio .contenido .noticias .noticia-fixture .texto-encima {
  font-size: xx-large;
  background-color: rgba(0, 0, 0, 0.652);
  color: aliceblue;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cuerpo-inicio .contenido .goleadores {
  display: flex;
  margin-top: 3vh;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.487);
  border-color: blueviolet;
  border-style: inset;
}
.cuerpo-inicio .contenido .goleadores #lista {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 5px;
  border-style: outset;
  border-color: antiquewhite;
  border-width: 3px;
  list-style: none;
  font-size: medium;
  color: aliceblue;
  margin: 2px;
}
.cuerpo-inicio .contenido .goleadores #descripcion-noticia {
  padding: 10px;
  padding-bottom: 7px;
  color: aliceblue;
  font-size: larger;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.cuerpo-inicio .contenido .borde-derecho {
  margin: 7px;
  flex-direction: column;
  background-color: black;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  border-color: blueviolet;
  border-style: inset;
}
.cuerpo-inicio .contenido .borde-derecho p {
  color: aliceblue;
  font-size: x-large;
  font-family: "Comfortaa", cursive;
  font-family: "Croissant One", cursive;
}
.cuerpo-inicio .contenido .borde-derecho #icono-hashtag {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cuerpo-inicio .contenido .borde-derecho .iconos {
  font-size: xx-large;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
.cuerpo-inicio .contenido .borde-derecho .iconos a {
  color: #6e1164;
}
.cuerpo-inicio .contenido .borde-derecho .iconos .mapa-frase {
  padding: 5px;
  border-style: double;
  border-color: blueviolet;
}
.cuerpo-inicio .contenido .borde-derecho #cancion-cancha {
  color: aliceblue;
  font-size: large;
  padding: 15px;
}
.cuerpo-inicio .contenido .borde-derecho #descripcion-noticia {
  padding: 10px;
  padding-bottom: 7px;
  color: aliceblue;
  font-size: larger;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/*corchete del body */
.cuerpo-multimedia {
  margin: 0.5rem;
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 1fr 1fr 0.1fr;
  grid-template-rows: 0.1fr 0.1fr 1fr 1fr 0.1fr;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  row-gap: 1rem;
  background-color: rgb(205, 202, 205);
  margin-left: 3rem;
  grid-template-areas: "encabezado encabezado encabezado encabezado" "frase-multimedia frase-multimedia frase-multimedia frase-multimedia" "contenido-multimedia contenido-multimedia contenido-multimedia contenido-multimedia" "contenido-multimedia contenido-multimedia contenido-multimedia contenido-multimedia" "footer footer footer footer";
}
.cuerpo-multimedia #cabecera-de-seccion {
  text-decoration: underline;
  font-size: x-larger;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: "Courier New", Courier, monospace;
  padding-left: 2rem;
}
.cuerpo-multimedia .encabezado {
  grid-area: encabezado;
  background-color: black;
}
.cuerpo-multimedia .frase-multimedia {
  grid-area: frase-multimedia;
  background-color: rgb(242, 175, 248);
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: xx-large;
  font-family: "Comfortaa", cursive;
  box-shadow: 16px 14px 20px rgba(0, 0, 0, 0.5490196078);
  padding: 0.5rem;
}
.cuerpo-multimedia .contenido-multimedia {
  grid-area: contenido-multimedia;
  background-color: #6e1164;
  border-style: double;
  display: flex;
  justify-content: center;
}
.cuerpo-multimedia .contenido-multimedia .muestra-de-partidos {
  margin: 1vh;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  background-color: rgba(38, 21, 41, 0.911);
  background-size: cover;
  border-color: rgb(0, 0, 0);
  border-style: inset;
  box-shadow: 16px 14px 20px rgba(0, 0, 0, 0.5490196078);
  justify-content: center;
  align-items: center;
}
.cuerpo-multimedia .contenido-multimedia .muestra-de-partidos #textos-arriba-de-links {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-decoration: underline;
  color: rgb(237, 146, 146);
  font-size: larger;
}
.cuerpo-multimedia .contenido-multimedia .muestra-de-partidos div {
  border-color: rgb(209, 4, 86);
  border-style: inset;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.cuerpo-multimedia .contenido-multimedia .muestra-de-fotos {
  height: -moz-fit-content;
  height: fit-content;
  margin: 3rem;
  background-color: rgba(38, 21, 41, 0.911);
  border-color: black;
  border-style: inset;
  box-shadow: 16px 14px 20px rgba(0, 0, 0, 0.5490196078);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cuerpo-multimedia .contenido-multimedia .muestra-de-fotos p {
  color: white;
}
.cuerpo-multimedia .contenido-multimedia .muestra-de-fotos .slide {
  margin: 1rem;
  width: 80vh;
}
.cuerpo-multimedia .contenido-multimedia .info-del-torneo {
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(38, 21, 41, 0.911);
  border-color: black;
  border-style: ridge;
}
.cuerpo-multimedia .contenido-multimedia .info-del-torneo p {
  text-decoration: none;
  font-size: medium;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.cuerpo-multimedia .contenido-multimedia .info-del-torneo .imagenes-lugar-torneo {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  border-color: whitesmoke;
  border-style: ridge;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.5490196078);
}
.cuerpo-multimedia .contenido-multimedia .info-del-torneo .lugar-del-torneo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: groove;
  padding: 1rem;
  background-color: rgb(0, 0, 0);
}
.cuerpo-multimedia .contenido-multimedia .info-del-torneo .lugar-del-torneo p {
  font-size: x-large;
  font-weight: 200;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(217, 10, 182);
  text-align: center;
  padding: 0.2rem;
  text-decoration: underline;
}

.cuerpo-historia {
  margin: 0.5rem;
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 1fr 1fr 0.1fr;
  grid-template-rows: 0.1fr 0.1fr 1fr 1fr 0.1fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
  background-color: rgb(59, 40, 57);
  margin-left: 3rem;
  min-height: 100%;
  grid-template-areas: "encabezado encabezado encabezado encabezado" "frase frase frase frase" "contenido-historia contenido-historia contenido-historia contenido-historia" "contenido-historia contenido-historia contenido-historia contenido-historia" "footer footer footer footer";
}
.cuerpo-historia .encabezado {
  grid-area: encabezado;
  background-color: black;
}
.cuerpo-historia .frase {
  background-color: rgb(242, 175, 248);
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: small;
  font-family: "Comfortaa", cursive;
  box-shadow: 16px 14px 20px rgba(0, 0, 0, 0.5490196078);
  grid-area: frase;
  padding: 0.5rem;
}
.cuerpo-historia .contenido-historia {
  grid-area: contenido-historia;
  background-color: #6e1164;
  border-style: double;
}
.cuerpo-historia .contenido-historia .contenedor-tarjetas {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cuerpo-historia .contenido-historia .contenedor-tarjetas .historia {
  display: flex;
  flex-direction: column;
  max-width: 70vh;
  background-color: rgba(104, 47, 113, 0.712);
  border-radius: 7px;
  margin-left: 1rem;
  border-style: groove;
  border-color: black;
}
.cuerpo-historia .contenido-historia .contenedor-tarjetas .historia .titulo-historia {
  display: flex;
  color: aliceblue;
  font-family: "Comfortaa", cursive;
  padding: 5px;
  align-items: center;
  justify-content: center;
  border-style: groove;
  border-width: 7px;
  border-color: rgb(0, 0, 0);
  border-radius: 7px;
  text-decoration: underline;
  text-decoration-color: black;
}
.cuerpo-historia .contenido-historia .contenedor-tarjetas .historia .descripcion-historia {
  font-size: larger;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: rgb(255, 255, 255);
  line-height: 30px;
  background-color: rgba(0, 0, 0, 0.571);
}
.cuerpo-historia .contenido-historia .contenedor-tarjetas .historia .descripcion-historia p {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
}
.cuerpo-historia .contenido-historia .jugadores {
  margin: 7vh;
  display: flex;
  flex-direction: column;
  max-width: -moz-fit-content;
  max-width: fit-content;
  background-color: rgba(104, 47, 113, 0.712);
  border-radius: 7px;
  border-style: groove;
  border-color: black;
}
.cuerpo-historia .contenido-historia .jugadores p {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
}
.cuerpo-historia .contenido-historia .jugadores .titulo-jugadores {
  display: flex;
  color: aliceblue;
  font-family: "Comfortaa", cursive;
  padding: 7px;
  align-items: center;
  justify-content: center;
  border-style: groove;
  border-width: 5px;
  border-color: rgb(0, 0, 0);
  border-radius: 7px;
  text-decoration: underline;
  text-decoration-color: black;
}
.cuerpo-historia .contenido-historia .jugadores .jugadores-historicos {
  font-size: larger;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: rgb(255, 255, 255);
  line-height: 30px;
  background-color: rgba(0, 0, 0, 0.571);
}
.cuerpo-historia .contenido-historia .jugadores .jugadores-historicos .listas-jugadores {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.571);
  align-items: center;
  justify-content: center;
}
.cuerpo-historia .contenido-historia .jugadores .jugadores-historicos #lista-jugadores {
  margin: 10px;
  list-style: none;
}
.cuerpo-historia .contenido-historia .jugadores .jugadores-historicos .agradecimiento {
  font-family: "Comfortaa", cursive;
  font-family: "Croissant One", cursive;
}
.cuerpo-historia .contenido-historia .contenedor-planteles {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  border-style: inset;
  border-radius: 2vh;
  background-color: rgba(0, 0, 0, 0.406);
}
.cuerpo-historia .contenido-historia .contenedor-planteles h2 {
  font-family: "Comfortaa", cursive;
  font-family: "Croissant One", cursive;
  color: aqua;
  padding: 1rem;
}
.cuerpo-historia .contenido-historia .contenedor-planteles .card {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #55a8e4;
  border-radius: 2vh;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.cuerpo-historia .contenido-historia .contenedor-planteles .card p {
  font-family: "Comfortaa", cursive;
}
.cuerpo-historia .contenido-historia .contenedor-planteles .card #plantel {
  max-width: 700px;
  max-height: 300px;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(242, 175, 248);
  border-style: double;
}
.footer p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.footer h2 {
  font-family: "Yellowtail", cursive;
}

@media (max-width: 700px) {
  .cuerpo-tienda {
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
  .cuerpo-tienda section {
    flex-grow: 1;
  }
  .productos {
    flex-direction: column;
  }
  .footer .h2 {
    font-size: medium;
  }
  .footer .p {
    font-size: small;
  }
  .cuerpo-historia {
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
  .cuerpo-historia .contenedor-tarjetas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-direction: column;
  }
  .cuerpo-historia .jugadores {
    width: 100vh;
  }
  .cuerpo-historia .contenedor-planteles {
    flex-direction: column;
  }
}
/*cosas del inicio*/
/*el club*/
/* socios */
.cuerpo-socio {
  margin: 0.5rem;
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 1fr 1fr 0.1fr;
  grid-template-rows: 0.1fr 0.1fr 1fr 1fr 0.1fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
  background-color: rgb(59, 40, 57);
  margin-left: 3rem;
  min-height: 100%;
  grid-template-areas: "encabezado encabezado encabezado encabezado" "frase frase frase frase" "contenido-socios contenido-socios contenido-socios contenido-socios" "contenido-socios contenido-socios contenido-socios contenido-socios" "footer footer footer footer";
}

.contenido-socios {
  grid-area: contenido-socios;
  background-color: #d2c8d1;
  border-style: double;
}

.inputs {
  background-color: rgba(2, 2, 2, 0.249);
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.formulario {
  margin: 3rem;
  border-style: inherit;
  border-width: 5px;
  background-color: #e9b0f9;
}

.formulario label {
  font-size: xx-large;
  font-family: "Kanit", sans-serif;
  color: rgb(7, 7, 7);
  font-weight: 900;
}

.formulario input {
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.generos {
  background-color: rgba(138, 6, 125, 0.2509803922);
  border-style: groove;
  border-color: rgb(127, 92, 140);
  padding: 2rem;
}

.generos h2 {
  text-decoration: underline;
  font-size: x-large;
}

.generos label {
  font-size: larger;
}

.enviar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

/*media*/
@media (max-width: 700px) {
  .cuerpo-tienda {
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
  .cuerpo-tienda section {
    flex-grow: 1;
  }
  .productos {
    flex-direction: column;
  }
  .footer h2 {
    font-size: medium;
  }
  .footer p {
    font-size: small;
  }
  .cuerpo-historia {
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
  .contenedor-tarjetas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-direction: column;
  }
  .jugadores {
    width: 100vh;
  }
  .contenedor-planteles {
    flex-direction: column;
  }
}/*# sourceMappingURL=estilos.css.map */