@media (max-width: 1000px) {
  .cuerpo-tienda{
    margin: .1rem;
    display: flex;
    flex-direction: column;

  .contenido-tienda{
    .cuerpo-tienda section{
    
    flex-grow: 1;
} 

.footer{
  h2{
    font-size: medium;
}
  p{
  font-size: small;

}

}



  .productos{
    flex-direction: column;
}

  }

}

  .cuerpo-historia {
    margin-left: 0;
    display: flex;
    flex-direction: column;

    .contenido-historia {

      .contenedor-tarjetas {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        flex-direction: column;
      }

      .jugadores {
        width: 100vh;
      }

      .contenedor-planteles{
        .carruzel {
          max-width: min-content;
        

        img {
          width: 8vh;
          
        }
        &:hover{
          transition: 10s;
        }
  
      }
      }

      
    }




  }

  .cuerpo-inicio{
    margin: 0.1rem;
    display: flex;
    flex-direction: column;
    width: 100%;

    .main-inicio{
      .separador{
        flex-direction: column;
        img{
          width: 40vh;
        }
      }

      .contenedor-inicio{
        flex-direction: column;
        .noticias{
          width: fit-content;
          flex-grow: 0;
          display: flex;
          flex-direction: column;
    
          img{
            width: 250px; 
            height: 150px;
          }
          .contenedor-imagen-texto{
            .texto-encima{
            font-size: small;
    
          }
          }
          
          
          
      } 
      .borde-derecho{
        .mapa-frase{
          iframe{
            width: 300px;
            height: 150px;
          }
        }
      }

      }


    }

    
      

      


  
  .footer{
    h2{
      font-size: medium;
  }
    p{
    font-size: small;
  
  }}



}
.cuerpo-multimedia{
    margin: 0.1rem;
    display: flex;
    flex-direction: column;
    width: 100%;


  .contenido-multimedia{
    display: flex;
      flex-direction: column;

      .muestra-de-partidos{
        margin: 0;

        .videos-torneo{
          #textos-arriba-de-links{
            font-size: medium;
          }
          iframe{
            width: 290px;
            height: 200;
          }
        }
      }

      .muestra-de-fotos{
        margin-left: 15px;
        width: fit-content;
        .carousel{
          
            width: 290px;
            height: 200;
          
        }
      }


  
  
  
    }




    .footer{
      h2{
        font-size: medium;
    }
      p{
      font-size: small;
    
    }}}


    .cuerpo-socio{
      .contenido-socios{
        .tarjetas-socios{
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }





  }

